
#center {
    margin: auto;
    text-align: center;
    /* width: 75%; */
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left {
    width: 33%;
}

#right {
    width: 66%;
}

.pokeTitle {
    font-size: 50px;
}

.pokeImage {
    width: 80%;
}

input {
    padding: 20px;
    margin-top: 20px;
    font-size: larger;
}





  
@media only screen and (min-width: 400px) and (max-width: 599px) {
    body {
        background-color: rgb(101, 177, 202);
    }
    .pokeImage {
        width: 60%;
    }
}


@media only screen and (min-width: 600px) {
    body {
      background-color: rgb(10, 95, 123);
    }
    .pokeImage {
        width: 90%;
    }
}